<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.sixgroupsprojects.mapper.SixmagMapper">

    <resultMap id="BaseResultMap" type="cn.lanqiao.sixgroupsprojects.model.pojo.Manager">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="loginName" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="joinTime" column="joinTime" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,loginName,phone,email,
          role,status,joinTime
    </sql>
</mapper>
