<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lanqiao.sixgroupsprojects.mapper.SixmagMapper">

    <resultMap id="BaseResultMap" type="cn.lanqiao.sixgroupsprojects.model.pojo.Manager">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="loginName" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
        <result property="joinTime" column="joinTime" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,loginName,phone,email,role,status,joinTime
    </sql>

    <select id="login" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from manager
        where loginName = #{loginName} and password = #{password} and status = 0
    </select>

    <insert id="register" parameterType="cn.lanqiao.sixgroupsprojects.model.pojo.Manager">
        insert into manager(loginName, password, role, status)
        values(#{loginName}, #{password}, '游客', 0)
    </insert>
</mapper>